.picture{
	width: 100%;
	height: 350px;
	background-color: lightcyan;
	padding: 0 15%;
	position: relative;
}
.picture>img{
	display: none;
}
.picture>.active{
	display: block;
}
.picture>#pre{
    width: 50px;
    height: 80px;
    color: rgb(221, 222, 223);
    position: absolute;
    left:10%;
    top:calc(50% - 40px);
    text-align: center;
	line-height: 80px;
	font-size: 60px;
}
.picture>#pre:hover,
.picture>#next:hover{
	background-color: rgba(184, 214, 226, 0.733);
	color: #fff;
}
.picture>#next{
    width: 50px;
    height: 80px;
    /* background-color: rgba(224, 220, 220, 0.733); */
    color: rgb(223, 221, 221);
    position: absolute;
    right:10%;
    top:calc(50% - 40px);
    text-align: center;
	line-height: 80px;
	font-size: 60px;
	/* padding: 30px 10px; */
}
.circle{
    position: absolute;
    bottom: 10px;
    left:calc(50% - 45px);
}
.picture>.circle>span{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
	background-color: rgba(196, 188, 188, 0.712);	
	margin-right: 20px;
}
.picture>.circle>span:hover{
	background-color: dodgerblue;
}
.picture>.circle>.active_circle{
    background-color: dodgerblue;
}
.content-left{
	width: 70%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
	padding: 10px 20px;
	background-color: #fff;
}
.hot{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid dodgerblue;
	position: relative;
}
.hot::before{
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border:5px solid dodgerblue;
	background-color: #fff;
	position: absolute;
	top:18px;
	left:10px;
}
.hot span{
	display: inline-block;
	font-size: 20px;
	margin:0 35px;
	color: rgb(50, 53, 56);
}
.hot a{
	display: inline-block;
	font-size: 14px;
	float: right;
	margin-right:50px;
	color: rgb(50, 53, 56);
	position: relative;
}
.hot a::before{
	width: 6px;
	height: 0px;
	content:"";
	display: inline-block;
	border:6px solid transparent;
	border-left: 6px solid dodgerblue;
	position: absolute;
	top:20px;
	left: 50px;
}
.hot a::after{
	width: 10px;
	height: 5px;
	content:"";
	display: inline-block;
	border-bottom: 4px solid dodgerblue;
	position: absolute;
	top:19px;
	left: 40px;
}
.hot a:hover{
	text-decoration: underline;
}
.mv{
	width: 100%;
	height: 500px;
	background-color: #fff;
	margin:20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.mv-information{
	width: 22%;
	height: 200px;
	color: rgb(50, 53, 56);
}
.newCD{
	width: 100%;
	height: 170px;
	border: 1px solid #ccc;
	background-color: rgb(240, 237, 237);
	margin: 20px 0px;
	padding: 30px 0 20px;
	display: flex;
	justify-content:space-evenly;
}
.cd{
	width: 15%;
	height: 100px;
	font-size: 12px;
	color: rgb(50, 53, 56);
}
.content-left table{
	width: 100%;
	height: 300px;
	border: 1px solid #ccc;
	margin:20px 0 40px;
	background-color: rgb(240, 237, 237);
}
.content-left table tr th{
	font-size: 18px;
	height: 80px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.content-left table tr td{
	height: 50px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding: 0px 30px;
	text-align: left;
}
.content-left table tr:nth-child(even){
	background-color: rgb(219, 218, 218);
	border:1px solid rgb(219, 218, 218);
}
.content-right{
	width: 30%;
	float: left;
}
.login{
	width: 100%;
	height: 130px;
	border:1px solid #ccc;
	background-color: rgb(240, 237, 237);
	padding: 20px 25px;
}
.login>img{
	padding: 2px;
	border:1px solid #ccc;
	background-color: #fff;
	margin-right: 10px;
}
.login>span{
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
}
.color-blue{
	color:dodgerblue;
}
.btn-login{
	padding: 5px 20px;
	color: #fff;
	border-radius: 5px;
	border:1px solid rgb(25, 129, 233);
	background-color: dodgerblue;
	margin:20px 25%;
}
.singer{
	width: 100%;
	height: 1232px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 20px;
}
.singer-top{
	height: 30px;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
.singer-box{
	width: 100%;
	height: 70px;
	border:1px solid #ccc;
	background-color: rgb(240, 237, 237);
	margin-top:20px;
}
.singer-box img{
	width: 70px;
	height: 100%;
}
.singer-name{
	width: 60%;
	height: 100%;
	padding: 10px;
	display: inline-block;
	float: right;
	font-size: 14px;
}
.singer-name font{
	font-weight: normal;
	font-size: 12px;
}
.apply{
	width: 94%;
	height: 35px;
	font-weight: bold;
	border-radius: 5px;
	border:1px solid #ccc;
	background-color: rgb(240, 237, 237);
	margin: 30px 3%;
}



